body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}



/* Introductie en Concurrentie*/

.introcontext{
    padding-top:25px;
    margin-left:35%;
    margin-right:35%;
}

.introcontext > p{
    font-size: 15px;
}

.introcontext > h1{
    padding: 10px 10px 12px 0px;
    background-color:hsla(175, 60%, 60%, 1);
    text-align:center;
}

.introcontext > h2{
    padding :5px 10px 10px 0px;
    color: hsla(175, 60%, 60%, 1);
    text-align:left;
}

.introcontext > p > a{
    text-decoration: none;
    color:red;

}
.introcontext > p > a:hover{
    color:hsla(175, 60%, 60%, 1);
}

/* Scenario's*/

.scenario{
    padding-top:25px;
    margin-left:20%;
    margin-right:20%;
}

.scenario h1{
    padding: 10px 10px 12px 0px;
    background-color:hsla(175, 60%, 60%, 1);
    text-align:center;
}

.scenario h2{
    color:hsla(175, 60%, 60%, 1);
    padding-top:7px;
}

.scenario p{
    font-size:15px;
    padding-top:5px;
}

/* Voeg jouw css hieraan toe */

body {
    margin:0;
    padding:0;
}



.logo {
    width:100%;
    height:125px;
    background-color:#1A0F84;
    margin:auto;
    text-align:center;
 

}

.logo img {
    
    padding-top:13px;
    width:1110px;
}

.nav, .container1, .container2, .containercast, .castmembers, .social, .castmembers {
    width:1115px;
    margin:auto;
}


.nav a {
    text-decoration:none;
    text-align:center;
    padding:30px 85px 30px 85px;
    background-color:hsla(175, 60%, 60%, 1);
    color:#1A0F84;
    float:left;
    font-family: 'Hind', sans-serif;
    font-size:20px;
    font-weight:bold;
    transition: 0.3s;
}

.nav a:hover{
    color:white;
    background-color:#1A0F84;
    
}

.container1 {
padding-top:40px;
overflow: hidden;
height:630px;


}


.container1 img{ 
    position:absolute;
     animation:fling-minislide 20s infinite; 
     opacity:0; 
     width: 1115px; 
     height: 630px;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 

.container1 img:nth-child(3){animation-delay:0s;}
.container1 img:nth-child(2){animation-delay:5s;}
.container1 img:nth-child(1){animation-delay:10s;}

nav{
    height:86px;
    width:750px;
    margin:auto;
    margin-top:80px;
    text-align:center;
    

} 

nav a{ 
    text-decoration: none;
     background-color:#1A0F84;
     color:white;
     font-family: 'Hind', sans-serif;
    font-size:30px;
    transition: 0.3s;
    display:block;
    padding:20px 45px 20px 45px;

}

nav a:hover{
     background-color:hsla(175, 60%, 60%, 1);
     color:#1A0F84;
}

.social{
    
    margin:auto;
    margin-top:30px;
    clear:both;
    text-align:center;
    margin-bottom:20px;
    
}

.fa {
    padding: 25px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
   
}

.fa:hover {
    opacity: 0.7;
}



.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}






/* About page */


.container2, .containercast{
padding-top:40px;
overflow: hidden;
}

.container2 h1{
    padding:25px 25px 35px 25px;
    font-weight:bold;
    font-size: 50px;
    background-color:#1A0F84;
    color:white;
    display:inline-block;
}

.container2 img{
    float:right;
    margin-left: 35px;
    margin-top:33px;
    height:483px;
    width:310px;
}

.container2 p{
    padding: 0px 65px 20px 85px;
    font-family:'Hind', sans-serif;
    font-size: 20px;
    line-height: 34px;
    color:dimgrey;
}
.castmembers{
    margin-top:25px;
    text-align:center;

   
    

}
.cast{
    margin-right:50px;
    float:left;
    text-align:center;
    width:200px;

}
.castfirst{
    margin-left:85px;
}

.cast img{
    float:left;
    height:200px;
    width:200px;
    margin-right:25px;
    transition: 0.3s;
}

.cast img:hover{
    opacity: 0.6;
    
}

.cast p{
    font-family:'Hind', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color:dimgrey;
    padding-top:20px;
}

.cast strong{
    font-weight:bold;
    color:#1A0F84;
}

/* social div changes */

.about{
    margin-top:350px;
}



/* Cast Page */

.containercast h1{
    padding:0px 25px 35px 25px;
    font-weight:bold;
    font-size: 35px;
    color:#1A0F84;
}


.member{
    float:left;
    margin-left:25px;
    margin-top:50px;
    
}

.firstmember{
    margin-top:20px;
}
.member img{
    float:left;
    width:400px;
    height:400px;
    padding:0px 35px 0px 0px;
}

.member h2{
    padding-left:35px;
    font-family:'Hind', sans-serif;
    font-weight:bold;
    font-size:30px;
    
    margin-top:0px;
}

.member p{
    padding:0px 10px 10px 35px;
    line-height: 32px;
    font-family:'Hind', sans-serif;
    font-size: 22px;
    color:dimgrey;
    
}
